@media (max-width: 375px) {
    .pai {
        position: relative;
        height: 375px;
        border: 1px;
        border-radius: 20px;

    }

    .filho {

        position: absolute;
        background-color: white;
        height: 250px;
        width: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}


@media (max-width: 768px) {
    .pai {
        position: relative;
        height: 768px;
        border: 1px;

    }

    .filho {
        position: absolute;
        background-color: white;
        height: 250px;
        width: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px;
        border-radius: 20px;
    }

}