.pai {
    position: relative;
    height: 1440px;
    background-color: hsl(212, 45%, 89%);
    border: 1px;
    border-radius: 20px;

}

.filho {
    position: absolute;
    background-color: white;
    height: 250px;
    width: 250px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px;
    border-radius: 20px;
}